* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease;
}

html {
  font-family: fantasy;
}

a {
  text-decoration: none;
}

.background {
  z-index: -99;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url("https://static.pexels.com/photos/9574/pexels-photo.jpeg") center no-repeat fixed;
  background-size: cover;
}

::scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

::-ms-scrollbar {
  display: none;
}

::-o-scrollbar {
  display: none;
}

.main {
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.intro {
  background: rgba(36, 187, 208, 0.4);
  width: 100%;
  height: 70%;
}

.whyIStarted {
  background: rgba(53, 246, 113, 0.4);
  height: 70%;
}

.whyIStarted p {
  font-size: 1.3em;
  margin: 0em 1em;
}

.socialIcons {
  height: auto;
  padding: 0.5em;
  background: rgba(139, 166, 32, 0.4);
  font-size: 2em;
  display: table;
  margin: 0 auto;
}

.twitter {
  transition: all 0.2s ease;
  width: auto;
}

.twitter p {
  opacity: 0;
  height: 0em;
}

.twitter:hover p {
  opacity: 1;
  height: auto;
}

.fa-twitter {
  color: #FFF;
  background: #1DA1F2;
  padding: 1em;
  border-radius: 50%;
}

.mysite {
  width: auto;
}

.mysite p {
  opacity: 0;
  height: 0em;
}

.mysite:hover p {
  opacity: 1;
  height: auto;
}

.mysite img {
  padding: 1em;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
