doctype html
head
  meta(charset="utf-8")
  title Sticker Boom
body
  script(src='js/jq.js')
  script(src='js/script.index.js')
  link(rel="stylesheet", href="css/style.index.css")
  
  .background
  h1.title Sticker Boom!
  
  .showCase
    .num1472016
      p.title Date: 14/7/2016
      img.showimg(src='source/images/DevStickerBoom.jpg')
      .info
      p
        a(href='https://bytebucket.org/moongod101/moongod101-bitbucket-org/raw/8394f4348efa8c37e0b01f5544fd4e0ba31fc099/projects/stickerboom/source/images/DevStickerBoom.jpg' download) Download(JPG)
      p
        a(href='https://bytebucket.org/moongod101/moongod101-bitbucket-org/raw/8394f4348efa8c37e0b01f5544fd4e0ba31fc099/projects/stickerboom/source/psd/DevStickerBoom.psd' download) Download(PSD)
  
  
  
