*
  padding: 0
  margin: 0

.background
  background: url('https://enterprise.github.com/assets/aws/jetpack-octocat-clouds-ab3c258e0b58dc8354ebb57139827a23dcf3849d14ee8c6795a67a7bcfde9fb4.jpg') no-repeat center fixed
  background-size: cover
  position: fixed
  top: 0em
  right: 0em
  z-index: -99
  filter: blur(5px)
  width: 100vw
  height: 100vh

.title
  text-align: center

.showCase
  margin: 0 auto
  height: 100vh
  width: 70vw

.num1472016
  width: 100%
  height: 100%
  text-align: center

  .title
    text-align: center
    font-size: 1.5em

  .showimg
    width: 50%
    height: 55%
    border: 0.5em solid #FFF
    transition: all 0.2s ease
