*
  padding: 0
  margin: 0
  user-select: none
  transition: all 0.2s ease
html
  font-family: fantasy

a
  text-decoration: none

.background
  z-index: -99
  width: 100vw
  height: 100vh
  position: fixed
  background: url('https://static.pexels.com/photos/9574/pexels-photo.jpeg') center no-repeat fixed
  background-size: cover

::scrollbar
  display: none
::-webkit-scrollbar
  display: none
::-moz-scrollbar
  display: none
::-ms-scrollbar
  display: none
::-o-scrollbar
  display: none

.main
  width: 60vw
  height: 100vh
  margin: 0 auto
  position: relative
  text-align: center

.intro
  background: transparentize(#24bbd0, 0.6)
  width: 100%
  height: 70%

.whyIStarted
  background: transparentize(#35f671, 0.6)
  height: 70%

  & p
    font-size: 1.3em
    margin: 0em 1em

.socialIcons
  height: auto
  padding: 0.5em
  background: transparentize(#8ba620, 0.6)
  font-size: 2em
  display: table
  margin: 0 auto

.twitter
  transition: all 0.2s ease
  width: auto
  & p
    opacity: 0
    height: 0em
  &:hover
    & p
      opacity: 1
      height: auto



.fa-twitter
  color: #FFF
  background: #1DA1F2
  padding: 1em
  border-radius: 50%

.mysite
  width: auto

  p
    opacity: 0
    height: 0em

  &:hover
    & p
      opacity: 1
      height: auto

  & img
    padding: 1em
    border-radius: 50%
    width: 4em
    height: 4em
